.projects-container {
  display: flex;
  flex-grow: 1;
 
}

/* ==================================Sidebar============================== */

.sidebar-container {
  width: 284.45px;
  border-right: var(--border-line);
}

.sidebar-heading, .selected-projects {
  width: 100%;
  border-bottom: var(--border-line);
  padding: 7.18px 17.46px;
  align-items: center;
  color: var(--secondary-white);
  display: flex;
  gap: 8.13px;
  align-items: center;
}



.filter-options {
  display: flex;
  flex-direction: column;
  padding: 12.4px 17.46px;
  gap: 12.4px;
}

.filter-label {
  display: flex;
  align-items: center;
  gap: 17.18px;
}

.label-text {
  display: flex;
  align-items: center;
  gap: 7.18px;
}

input[type="checkbox"] {
  accent-color: var(--secondary-steel-blue);
}

input[type="checkbox"]:checked + label:before {
  background-color: #00ff00; /* bright green */
}

/* ==============================Main=================================== */

.main-container {
  width: 100%;
   flex-grow: 0;
 
  
}

.projects-content {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  flex-grow: 0;
  max-height: 510px;
  overflow-y: scroll;
  
}

/* =============================Project-Card============================== */

.project-card-container {
  display: flex;
  gap: 10.69px;
  flex-direction: column;
  flex: calc(33.33% - 30px);
  margin: 15px;
  max-width: 260px;
  max-height: fit-content;
}

.project-box {
  flex: 1;
  border-radius: 15px !important;
  border: 1px solid var(--line);
  background: var(--primary-dark-blue);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

}

.project-image {
  height: 100px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  padding: 19px 12px;
}

.box-content{
    padding:22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.selected-project-category{
    display: flex;
    align-items: center;
    padding-right: 17.46px;
    width: fit-content;
}


.project-counter {
    color: var(--secondary-blue);
}




