/* Hide scrollbar for WebKit-based browsers */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
