
$primary-black: #01080e;
$primary-blue: #011627;
$primary-dark-blue: #011221;
$primary-button: rgba(96, 123, 150, 0.88);


/* Secondary colors */
$secondary-steel-blue: #607b96;
$secondary-teal: #3c9d93;
$secondary-blue: #4d5bce;
$secondary-white: #ffffff;

/* Accent colors */
$accent-orange: #fea55f;
$accent-teal: #86E1F9;
$accent-peach: #e99287;
$accent-purple: #c98bdf;

/* Lines */
$line: #1e2d3d;