@use "./colors";
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-row-center {
    display: flex;
    align-items: center;
}

@mixin border-line($top: 0, $right: 0, $bottom: 0, $left: 0) {
    border-width: $top $right $bottom $left;
    border-style: solid ;
    border-color: colors.$line;
   
}
