@use "../../sass//mixins";

.contact-container {
    margin-top: 30px;
    width: 100% !important;
    &__form-col {
        width: 80%;
        .thank-you {
            justify-content: center;
            height: 100%;
            @include flex-column-center;
            button {
                margin-top: 20px;
            }
        }
    }
    &__code {
    }
}
