@use "../../sass//mixins";

.contact-container {
    margin-top: 30px;
    width: 100% !important;
    &__form-col {
        width: 80%;
        .contact-form {
            // .ant-input-filled {
            //     @include border-line($right: 1px, $left: 1px, $top: 1px, $bottom: 1px);
            // }
        }
        .thank-you {
            justify-content: center;
            height: 100%;
            @include flex-column-center;
            button {
                margin-top: 20px;
            }
        }
    }
    &__code {
    }
}
