@use "../../../../sass/mixins";

.about-container {
    width: 100%;
    padding: 5px 15px;
    .overview-container {
        width: 100%;
        .overview-title {
            width: fit-content;
            margin-bottom: 20px;
        }
        .overview-content {
            @include flex-column-center;
            .work-card {
                background: #ffffff;
                width: 100%;
                margin-bottom: 30px;
                padding: 20px 10px;
                border: 2px solid $primary-dark-blue;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .alt-card {
                background: #ffe9a8;
                padding: 20px 10px 10px 10px;
                border: 2px solid $primary-dark-blue;
                width: 100%;
                margin-bottom: 15px;

            }
        }
    }
}
