/* ============================Base=================================== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--secondary-steel-blue);
  font-family: Fira Code;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-decoration: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  /* primary colors */
  --primary-black: #01080e;
  --primary-blue: #011627;
  --primary-dark-blue: #011221;
  --primary-button: #1c2b3a;

  /* Secondary colors */
  --secondary-steel-blue: #607b96;
  --secondary-teal: #3c9d93;
  --secondary-blue: #4d5bce;
  --secondary-white: #ffffff;

  /* Accent colors */
  --accent-orange: #fea55f;
  --accent-teal: #43d9ad;
  --accent-peach: #e99287;
  --accent-purple: #c98bdf;

  /* Lines */
  --line: #1e2d3d;

  /* Gradients */
}

/* ==================================Reusable CSS classes===================================== */

/* Text */

.headline-text {
  font-size: 2.783rem;
  color: var(--secondary-white);
}

.subheadline-text {
  font-size: 1.437rem;
}

.body-text {
  font-size: 0.808rem;
}

.labels-text {
  font-size: 0.718rem;
}

.code-snippets-text {
  font-size: 0.629rem;
}

/* Buttons */

button {
  display: inline-flex;
  padding: 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
}

.primary-button {
  color: var(--primary-black);
  background: var(--accent-orange);
}

.default-button {
  color: var(--secondary-white);
  background: var(--primary-button);
}

.ghost-button {
  color: var(--secondary-white);
  background: none;
  border: 1px solid var(--secondary-white);
}

/* icons */

.icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

/* Containers */

.container {
  display: flex;
}
