@use "../sass/mixins";
//imports
@import "./Components/sass/headerContent";
@import "./Components/sass/footerContent";
@import "./Components/sass/navigationMenu";
@import "./Components/sass/breadCrumb";

.app-layout {
    min-height: 100vh;

    &__header {
        @include border-line($bottom: 1px);
        padding: 0 0 0 0.8rem;
        height: 50px;
        line-height: 50px;
        position: sticky;
        z-index: 999;
        top: 0;
    }

    &__body {
        position: fixed;
        top: 50px;
        bottom: 50px; // Adjusted to account for the fixed footer
        width: 100%;
        display: flex;

        @media (max-width: 576px) {
            position: relative; // Change to relative positioning for small screens
            top: auto;
            bottom: auto;
            height: auto; // Reset height to allow scrolling
        }

        .body__sider {
            @include border-line($right: 1px);
            flex: 0 0 21.833333333333336% !important;
            max-width: 21.6% !important;
            width: 21.833333333333336% !important;
            min-width: 265px !important;
            overflow-y: auto; // Enable vertical scrolling
        }

        .body__content {
            flex: 1;
            overflow-y: auto; // Enable vertical scrolling
            .outlet {
                padding: 5px 10px;
                display: flex;
                justify-content: center;
            }
            @media (max-width: 576px) {
                margin-bottom: 30px;
            }
        }
    }

    &__footer {
        @include flex-row-center;
        @include border-line($top: 1px);
        padding: 0 0.8rem;
        height: 50px;
        z-index: 999;
        width: 100%;
        bottom: 0;
        position: fixed;
    }
}
