//use
@use "../sass/mixins";
//imports
@import "./Components/sass/headerContent";
@import "./Components/sass/footer";

.app-layout {
    height: 100vh;

    &__header {
        @include border-line($bottom: 1px);
        padding: 0 0 0 0.8rem;
        height: 50px;
        line-height: 50px;
    }
    &__body {
        .body__sider {
            width: 200;
            position: fixed;
            height: 100%;
        }
        .body__content {
            padding: 24;
            margin: 0;
            min-height: 280;
        }
    }
    &__footer {
        @include flex-row-center;
        @include border-line($top: 1px);
        padding: 0 0.8rem;
        height: 50px;
        z-index: 999;
    }
}
